name: Docker

on:
  schedule:
    - cron: "0 17 * * 0"
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches: [main]
  workflow_dispatch:
env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --oci-worker-snapshotter=stargz

      - name: Log into ghcr
        #if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Log into docker hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: abihf
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ env.IMAGE_NAME }}
            ${{ env.IMAGE_NAME }}
          tags: |
            type=sha,enable=true,priority=100,prefix=sha-,suffix=,format=short
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

      - name: Build CLI image
        uses: docker/build-push-action@v6
        with:
          target: cli
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.IMAGE_NAME }}:cli
            ghcr.io/${{ env.IMAGE_NAME }}:cli
          platforms: linux/amd64
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,oci-mediatypes=true,compression=estargz,force-compression=true
          cache-from: type=gha,scope=cli
          cache-to: type=gha,scope=cli,mode=max,ignore-error=true

      - name: Check base image
        run: docker manifest inspect ghcr.io/${{ env.IMAGE_NAME }}:base-${{ hashFiles('base-image/**') }}
        id: base_img
        continue-on-error: true

      - name: Build Base image
        uses: docker/build-push-action@v6
        if: steps.base_img.outcome == 'failure'
        with:
          context: base-image
          build-args: |
            ENABLE_APT_CACHE=1
          pull: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.IMAGE_NAME }}:base-${{ github.sha }}
            ghcr.io/${{ env.IMAGE_NAME }}:base
            ghcr.io/${{ env.IMAGE_NAME }}:base-${{ hashFiles('base-image/**') }}
          platforms: linux/amd64
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,oci-mediatypes=true,compression=estargz,force-compression=true
          cache-from: type=gha,scope=base
          cache-to: type=gha,scope=base,ignore-error=true

      - name: Build Worker image
        uses: docker/build-push-action@v6
        id: push
        with:
          target: worker
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,oci-mediatypes=true,compression=estargz,force-compression=true
          cache-from: type=gha,scope=cli

      - name: Generate artifact attestation
        if: github.event_name != 'pull_request'
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ghcr.io/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
